<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--51-->
    <add name="ConnectionString" connectionString="2C87F32AD255519A9246AB8CCAF3CAC29F3FBF26DE56585221D1820879A11F3EC8AE04917B263E69A05A5187BE39F9DC538BDB42479C5E6B5F535A03B4C1CC66E0A2107D638C73332AA194D9BC0C31C22E138C236AFF912CDAA0203CF952F76161CCDECD6F642540C862DE8178982366" providerName="System.Data.SqlClient"/>
    <!--240外-->
    <!--<add name="ConnectionString" connectionString="2C87F32AD255519AFE980E3A614D851A74B61F327F2B947AB8A5F9124D7B77C941DDF9D2FB1A84D58BDAB19EA2DABA12EFABC9E98F6480FE05AE95F524D62C8D7968E26DF08A327434ECB6560F7B85D7A0A1A4F11D62FD33" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="2C87F32AD255519A60B8451ED8F1F2368561BC3D86CDBDFD9181A7EAEDE4F4FB7997A7EBB0C3CD1274979F03A42C4B230B1BC542600A57C975A2B3331A222D294AAC4724499FC2B975EE21AC38824FE1C790BE2C9D94CF2C" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <!--代理ip-->
    <add key="proxyIp" value="39.98.83.194:3808"/>
    <!--缓存数据更新间隔，分-->
    <add key="updateCache" value="10"/>
    <!--联赛循环是否启用并行-->
    <add key="enableParallelLeagueMatch" value="0"/>
    <!--赛事循环是否启用并行-->
    <add key="enableParallelMatch" value="0"/>
    <!--是否保存运行日志-->
    <add key="saveRunningLog" value="0"/>
  </appSettings>  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>  
</configuration>
