<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--平台-->
  <sp>
    <add key="sp" value=""></add>
  </sp>
  <!--浏览器-->
  <browser>
    <add key="browser" value=""></add>
  </browser>
  <!--设置-->
  <set>
    <add key="chk_Logined" value=""></add>
    <add key="chk_IPproxy" value=""></add>
    <add key="chk_VisibleBrowser" value=""></add>
    <!--早盘是否抓取所有日期的数据-->
    <add key="chk_ZP_AllDay" value=""></add>
  </set>
  <!--抓取间隔-->
  <interval>
    <add key="txt_ZP_MS" value="30"></add>
    <add key="txt_JR_MS" value="10"></add>
    <add key="txt_GQ_MS" value="3"></add>
    <add key="txt_SG_MS" value="60"></add>
  </interval>
  <!--抓取内容-->
  <option>
    <add key="ZP" value=""></add>
    <add key="JR" value=""></add>
    <add key="GQ" value=""></add>
    <add key="SG" value=""></add>
  </option>
</configuration>