<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--平台-->
  <SourcePlatform>
    <!--<add key="TYC" name="太阳城" url="https://sb.sss988n1jssx92.info/NewIndex?webskintype=2" nologinurl="https://mkt.sss988n1jssx92.info/NewIndex?webskintype=2" resulturl="https://hm.sss988n1jssx92.info/Result" umurl="https://mkt.sss988n1jssx92.info/NewIndex/UM?lang=cs" messageurl="https://hm.sss988n1jssx92.info/Message/MessageHistory" loginurl="https://www.sss909.com/NewSportsbook" loginname="zx1688" loginpassword="cccccc123"/>-->
    <add key="TYC" name="太阳城" url="https://sb.sss988n1jssx92.info/NewIndex?webskintype=2" nologinurl="https://mkt.sss988n1jssx92.info/NewIndex?webskintype=2" resulturl="https://hm.sss988n1jssx92.info/Result" umurl="https://mkt.sss988n1jssx92.info/NewIndex/UM?lang=cs" messageurl="https://hm.sss988n1jssx92.info/Message/MessageHistory" loginurl="https://www.sss909.com/NewSportsbook" loginname="wei107" loginpassword="1234qwer"/>
    <!--<add key="MS" name="明升" url="https://bet.m88ms.com/onebook?WebSkinType=2" resulturl="https://bet.m88ms.com/Result.aspx" loginurl="https://www.m88ms.com/Main/Sports/Sports.aspx" loginname="wanggan1688" loginpassword="1qaz2wsx"/>--><!--http://www.m88.mobi/-->
    <add key="LTT" name="乐天堂" url="https://sports.fun88asia.com/NewIndex?webskintype=2" resulturl="" loginurl="https://www.fun88asia.com/cn/sportsbook/sp/main.htm" loginname="" loginpassword=""/>
  </SourcePlatform>
</configuration>